In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("courses.csv")
data.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,1,0,3,0,1,1,0,0,0,"Lee, Sang S"
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,2,1,0,1,1,0,0,0,0,"Zheng, Reanne"
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,1,0,0,0,0,0,0,2,0,"Zheng, Reanne"
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander"
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,2,1,0,0,0,0,1,3,1,"Wang, Yu"

In [11]:
grades = data[['Course Title', 'A+', 'A', 'A-', 'B+', "B", 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W']]

grades

,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,Intro Asian American Studies,6,13,0,0,4,1,0,3,0,1,1,0,0,0
1,Intro Asian American Studies,0,11,5,3,1,2,1,0,1,1,0,0,0,0
2,Intro Asian American Studies,0,10,7,4,3,1,0,0,0,0,0,0,2,0
3,Intro Asian American Studies,17,8,1,1,1,0,0,0,0,0,0,0,0,0
4,Intro Asian American Studies,0,8,4,1,1,2,1,0,0,0,0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,Statistics and Probability II,5,10,2,2,5,1,0,1,3,0,0,0,2,1
64044,Statistical Data Management,4,12,8,1,3,0,0,0,0,0,0,0,0,0
64045,Introductory Dynamics,0,1,3,2,5,7,5,1,1,0,2,0,1,0
64046,Introductory Solid Mechanics,1,2,2,1,5,0,3,3,2,0,0,1,1,0
64047,Introductory Fluid Mechanics,5,8,9,4,5,1,0,4,0,0,1,0,2,0

In [12]:
courses = grades.groupby('Course Title')

courses

In [15]:
student_count = data[('A')] + data[('A+')] + data[('A-')] + data[('B')] + data[('B+')] + data[('B-')] + data[('C')] + data[('C+')] + data[('C-')] + data[('D')] + data[('D+')] + data[('D-')] + data[('F')]

points = data[('A')] * 4.0 + data[('A+')] * 4.0 + data[('A-')] * 3.67 + data[('B')] * 3.0 + data[('B+')] * 3.33 + data[('B-')] * 2.67 + data[('C')] * 2.0 + data[('C+')] * 2.33 + data[('C-')] * 1.67 + data[('D')] * 1.0 + data[('D+')] * 1.33 + data[('D-')] * .67 

gpa = points / student_count

data["GPA"] = gpa

data

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Primary Instructor,GPA
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,0,3,0,1,1,0,0,0,"Lee, Sang S",3.413793
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,1,0,1,1,0,0,0,0,"Zheng, Reanne",3.440400
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,0,0,0,0,0,0,2,0,"Zheng, Reanne",3.358519
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander",3.928571
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,1,0,0,0,0,1,3,1,"Wang, Yu",2.921429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,0,1,3,0,0,0,2,1,"Stepanov, Alexei G",3.183226
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,"Unger, David",3.774643
64045,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,5,1,1,0,2,0,1,0,"Morgan, William T",2.595714
64046,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie",2.603333
64047,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,LEC,5,8,9,...,0,4,0,0,1,0,2,0,"Keane, Richard D",3.205641