In [62]:
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
data = pd.read_csv("courses.csv")
data.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,1,0,3,0,1,1,0,0,0,"Lee, Sang S"
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,2,1,0,1,1,0,0,0,0,"Zheng, Reanne"
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,1,0,0,0,0,0,0,2,0,"Zheng, Reanne"
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander"
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,2,1,0,0,0,0,1,3,1,"Wang, Yu"

In [64]:
grades = data[['Course Title', 'A+', 'A', 'A-', 'B+', "B", 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F', 'W']]

grades

,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,Intro Asian American Studies,6,13,0,0,4,1,0,3,0,1,1,0,0,0
1,Intro Asian American Studies,0,11,5,3,1,2,1,0,1,1,0,0,0,0
2,Intro Asian American Studies,0,10,7,4,3,1,0,0,0,0,0,0,2,0
3,Intro Asian American Studies,17,8,1,1,1,0,0,0,0,0,0,0,0,0
4,Intro Asian American Studies,0,8,4,1,1,2,1,0,0,0,0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,Statistics and Probability II,5,10,2,2,5,1,0,1,3,0,0,0,2,1
64044,Statistical Data Management,4,12,8,1,3,0,0,0,0,0,0,0,0,0
64045,Introductory Dynamics,0,1,3,2,5,7,5,1,1,0,2,0,1,0
64046,Introductory Solid Mechanics,1,2,2,1,5,0,3,3,2,0,0,1,1,0
64047,Introductory Fluid Mechanics,5,8,9,4,5,1,0,4,0,0,1,0,2,0

In [65]:
courses = grades.groupby('Course Title')

courses

In [66]:
student_count = data[('A')] + data[('A+')] + data[('A-')] + data[('B')] + data[('B+')] + data[('B-')] + data[('C')] + data[('C+')] + data[('C-')] + data[('D')] + data[('D+')] + data[('D-')] + data[('F')]

points = data[('A')] * 4.0 + data[('A+')] * 4.0 + data[('A-')] * 3.67 + data[('B')] * 3.0 + data[('B+')] * 3.33 + data[('B-')] * 2.67 + data[('C')] * 2.0 + data[('C+')] * 2.33 + data[('C-')] * 1.67 + data[('D')] * 1.0 + data[('D+')] * 1.33 + data[('D-')] * .67 

gpa = points / student_count

data["GPA"] = gpa

data

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Primary Instructor,GPA
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,0,3,0,1,1,0,0,0,"Lee, Sang S",3.413793
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,1,0,1,1,0,0,0,0,"Zheng, Reanne",3.440400
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,0,0,0,0,0,0,2,0,"Zheng, Reanne",3.358519
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander",3.928571
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,1,0,0,0,0,1,3,1,"Wang, Yu",2.921429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,0,1,3,0,0,0,2,1,"Stepanov, Alexei G",3.183226
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,"Unger, David",3.774643
64045,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,5,1,1,0,2,0,1,0,"Morgan, William T",2.595714
64046,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie",2.603333
64047,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,LEC,5,8,9,...,0,4,0,0,1,0,2,0,"Keane, Richard D",3.205641

In [67]:
gpa_course_alltime = data.groupby([data["Subject"], data["Course Title"]])['GPA'].mean().reset_index()
gpa_course_alltime.head()

  Subject                   Course Title       GPA
0     AAS  Asian American Media and Film  3.201207
1     AAS   Asian American Youth in Film  3.775109
2     AAS   Asian Americans and the Arts  3.364613
3     AAS       Food and Asian Americans  3.826825
4     AAS   Immigration, Law, and Rights  3.034483

In [68]:
# not sure about the syntax, this is the general form to return all time gpa of one course tho
# def get_alltime_course_gpa(str course)

#gpa_course_alltime[gpa_course_alltime['Course Title'] == course]

gpa_course_alltime[gpa_course_alltime['Course Title'] == 'Calculus III']

     Subject  Course Title      GPA
4175    MATH  Calculus III  2.90248

graph comparing the different average GPA's of two courses

    *perhaps make a graph factoring in year/ professor

In [69]:
def graph_1(course_a, course_b):
    # the two course names will be on the x-axis and the average gpa on the y
    temp = gpa_course_alltime[(gpa_course_alltime['Course Title'])]



    # not sure how to take two course titles and put them into the same plot
    # not sure how to take an inputted course title and get the GPA


    left = temp

    height = temp['GPA']


    # creating the bar graph
    plt.bar(left, height,
            width = 0.5, color = ['blue', 'orange'])


    # naming the x and y axes
    plt.xlabel("Course")
    plt.ylabel('GPA')
    # title should be the "[name of course a] vs. [name of course b]"
    plt.title()

    return plt.show()

In [70]:
graph_1('Calculus I', 'Calculus II')

KeyError: "None of [Index(['Asian American Media and Film', 'Asian American Youth in Film',\n       'Asian Americans and the Arts', 'Food and Asian Americans',\n       'Immigration, Law, and Rights', 'Intro Asian American Studies',\n       'Intro to Arab Am Studies', 'Intro to Asian Am Pop Culture',\n       'Muslims in America', 'U.S. Race and Empire',\n       ...\n       'Pathobiology II', 'Pathobiology III', 'SA Medicine and Surgery I',\n       'SA Medicine and Surgery II', 'SA Medicine and Surgery III',\n       'Structure and Function I', 'Structure and Function II',\n       'Structure and Function III', 'Jewish Storytelling',\n       'Lit Responses to the Holocaust'],\n      dtype='object', length=5865)] are in the [columns]"

graph comparing the gpa distributions of various courses taught by a professor

In [ ]:
def graph2(professor):
        temp = gpa_course_alltime[(gpa_course_alltime['Primary Instructor'] == professor)]
        # x-coordinates of left sides of bars 
        left = temp['Course Title']
        
        # heights of bars
        height = temp['GPA']

        # plotting a bar chart
        plt.bar(left, height,
                width = 0.5, color = ['orange', 'blue'])
        
        # naming the x-axis
        plt.xlabel(left)
        # naming the y-axis
        plt.ylabel('Count')
        # plot title
        plt.title('Grade')
        
        # function to show the plot
        return plt.show()

In [ ]:
graph2('Manfroi, Aldo J')

KeyError: 'Primary Instructor'