# Working with the course dataset!
This notebook will introduce you to data science with pandas library and the course dataset

Here we will import pandas as pd, where "pd" is the abbrievation of the library pandas

In [3]:
import pandas as pd

And then we will import the dataset (its a csv file)

In [4]:
data = pd.read_csv("courses.csv")
data.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,1,0,3,0,1,1,0,0,0,"Lee, Sang S"
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,2,1,0,1,1,0,0,0,0,"Zheng, Reanne"
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,1,0,0,0,0,0,0,2,0,"Zheng, Reanne"
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander"
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,2,1,0,0,0,0,1,3,1,"Wang, Yu"

Accessing different columns

In [3]:
# Getting every course title
data['Course Title']

0         Intro Asian American Studies
1         Intro Asian American Studies
2         Intro Asian American Studies
3         Intro Asian American Studies
4         Intro Asian American Studies
                     ...
64043    Statistics and Probability II
64044      Statistical Data Management
64045            Introductory Dynamics
64046     Introductory Solid Mechanics
64047     Introductory Fluid Mechanics
Name: Course Title, Length: 64048, dtype: object

In [46]:
# Your turn! Try to access a different column!

Accessing multiple columns

In [48]:
# Getting the course, course number, and the course title of every class
# Remember to use a list inside the brackets []
data[['Subject', 'Number', 'Course Title']]

      Subject  Number                   Course Title
0         AAS     100   Intro Asian American Studies
1         AAS     100   Intro Asian American Studies
2         AAS     100   Intro Asian American Studies
3         AAS     100   Intro Asian American Studies
4         AAS     100   Intro Asian American Studies
...       ...     ...                            ...
64043    STAT     410  Statistics and Probability II
64044    STAT     440    Statistical Data Management
64045     TAM     212          Introductory Dynamics
64046     TAM     251   Introductory Solid Mechanics
64047     TAM     335   Introductory Fluid Mechanics

[64048 rows x 3 columns]

In [49]:
# Your turn! Get the Course title and the professor teaching that course!

Accessing different courses

In [4]:
#Accessing all CS courses
data[data['Subject'] == 'CS']

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
712,2022,Spring,2022-sp,CS,101,Intro Computing: Engrg & Sci,OLC,155,340,55,...,16,8,3,6,4,6,0,17,1,"Davis, Neal E"
713,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,12,62,17,...,9,10,16,14,3,4,4,9,2,"Zilles, Craig"
714,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,28,101,26,...,19,17,19,20,4,9,2,10,3,"Zilles, Craig"
715,2022,Spring,2022-sp,CS,124,Intro to Computer Science I,OLC,70,314,43,...,27,12,9,9,0,18,0,28,4,"Challen, Geoffrey W"
716,2022,Spring,2022-sp,CS,126,Software Design Studio,LCD,47,105,25,...,0,4,1,0,1,3,2,5,0,"Woodley, Michael J"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63924,2010,Summer,2010-su,CS,101,Intro Computing: Engrg & Sci,LBD,4,6,2,...,1,2,0,1,0,0,0,0,0,"Gambill, Thomas N"
63925,2010,Summer,2010-su,CS,225,Data Structures,LBD,1,5,1,...,0,1,3,1,0,2,0,1,0,"Earls, John C"
63926,2010,Summer,2010-su,CS,373,Theory of Computation,LEC,5,1,5,...,2,2,0,2,0,2,0,1,1,"Kumar, Viraj"
63927,2010,Summer,2010-su,CS,421,Progrmg Languages & Compilers,LCD,2,5,5,...,1,0,1,4,0,4,0,0,1,"Hafiz, Munawar"
63928,2010,Summer,2010-su,CS,598,Object-Oriented Prog & Design,ONL,3,22,0,...,0,0,0,0,0,0,0,0,0,"Johnson, Ralph E"

In [5]:
# Accessing all Stats classes
data[data['Subject'] == 'STAT']

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
2172,2022,Spring,2022-sp,STAT,100,Statistics,LEC,186,106,55,...,40,26,30,10,14,10,8,11,2,"Flanagan, Karle A"
2173,2022,Spring,2022-sp,STAT,100,Statistics,ONL,178,126,72,...,42,39,24,19,11,15,12,16,2,"Flanagan, Karle A"
2174,2022,Spring,2022-sp,STAT,100,Statistics,ONL,19,21,4,...,6,4,0,3,0,2,2,9,1,"Reger, William J"
2175,2022,Spring,2022-sp,STAT,107,Data Science Discovery,LEC,9,125,24,...,11,4,5,2,6,2,1,10,2,"Flanagan, Karle A"
2176,2022,Spring,2022-sp,STAT,200,Statistical Analysis,ONL,57,131,41,...,15,14,13,4,2,0,2,9,2,"Fireman, Ellen S"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64040,2010,Summer,2010-su,STAT,100,Statistics,LCD,1,13,3,...,1,1,2,2,3,1,1,1,0,"Hirtz, Nathaniel R"
64041,2010,Summer,2010-su,STAT,100,Statistics,LCD,0,14,3,...,0,0,3,0,0,1,0,3,1,"Dalpiaz, David M"
64042,2010,Summer,2010-su,STAT,400,Statistics and Probability I,LEC,4,15,7,...,4,1,2,2,0,1,0,3,1,"Monrad, Ditlev"
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,0,"Unger, David"

Use .head() to get 5 results

In [6]:
# Accessing 5 Stats classes
data[data['Subject'] == 'STAT'].head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
2172,2022,Spring,2022-sp,STAT,100,Statistics,LEC,186,106,55,...,40,26,30,10,14,10,8,11,2,"Flanagan, Karle A"
2173,2022,Spring,2022-sp,STAT,100,Statistics,ONL,178,126,72,...,42,39,24,19,11,15,12,16,2,"Flanagan, Karle A"
2174,2022,Spring,2022-sp,STAT,100,Statistics,ONL,19,21,4,...,6,4,0,3,0,2,2,9,1,"Reger, William J"
2175,2022,Spring,2022-sp,STAT,107,Data Science Discovery,LEC,9,125,24,...,11,4,5,2,6,2,1,10,2,"Flanagan, Karle A"
2176,2022,Spring,2022-sp,STAT,200,Statistical Analysis,ONL,57,131,41,...,15,14,13,4,2,0,2,9,2,"Fireman, Ellen S"

In [7]:
# Your turn! Try to get all classes in your major. If your major was already chosen, get another major's classes!
data[data['Subject'] == 'PHYS']

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
1873,2022,Spring,2022-sp,PHYS,101,College Physics: Mech & Heat,LEC,23,3,11,...,12,8,8,9,6,5,8,0,1,"Gammie, Charles F"
1874,2022,Spring,2022-sp,PHYS,101,College Physics: Mech & Heat,LEC,22,19,23,...,24,14,14,17,12,7,9,3,1,"Gammie, Charles F"
1875,2022,Spring,2022-sp,PHYS,102,College Physics: E&M & Modern,LEC,13,11,23,...,24,19,15,12,11,3,1,0,1,"Holder, Gilbert"
1876,2022,Spring,2022-sp,PHYS,102,College Physics: E&M & Modern,LEC,4,11,16,...,22,13,11,7,7,4,4,1,0,"Holder, Gilbert"
1877,2022,Spring,2022-sp,PHYS,211,University Physics: Mechanics,LEC,59,41,32,...,20,20,26,20,6,5,10,6,3,"Goldschmidt, Elizabeth A"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63432,2010,Spring,2010-sp,PHYS,581,Quantum Mechanics II,LEC,2,15,1,...,1,0,0,0,0,0,0,0,0,"Goldbart, Paul M"
64007,2010,Summer,2010-su,PHYS,101,College Physics: Mech & Heat,LEC,7,9,15,...,3,4,3,5,3,2,2,0,0,"Shoaf, Curtis M"
64008,2010,Summer,2010-su,PHYS,102,College Physics: E&M & Modern,LEC,1,9,1,...,8,6,4,1,1,1,1,0,2,"Carrubba, James G"
64009,2010,Summer,2010-su,PHYS,212,University Physics: Elec & Mag,LEC,5,8,9,...,5,6,3,2,0,2,1,0,1,"Hassani, Sadri D"
64010,2010,Summer,2010-su,PHYS,214,Univ Physics: Quantum Physics,LEC,4,3,1,...,3,8,6,1,1,1,0,0,0,"Giannetta, Russell W"

Using conditionals to get the classes

In [8]:
# What if we want all courses for sophomores? (200 - 299)
data[(data['Number'] >= 200) & (data['Number'] <= 299)]

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
9,2022,Spring,2022-sp,AAS,215,US Citizenship Comparatively,LCD,7,12,6,...,0,1,0,0,1,0,0,0,0,"Park, Doo Jae"
11,2022,Spring,2022-sp,ABE,225,ABE Principles: Bioenvironment,LCD,2,8,3,...,0,0,1,0,0,0,0,2,0,"Zhang, Yuanhui"
12,2022,Spring,2022-sp,ABE,226,ABE Principles: Bioprocessing,LCD,1,5,4,...,4,0,1,0,0,0,0,2,0,"Singh, Vijay"
15,2022,Spring,2022-sp,ACCY,200,Fundamentals of Accounting,ONL,45,62,5,...,8,4,0,0,0,0,0,0,0,"Zhang, Li"
16,2022,Spring,2022-sp,ACCY,200,Fundamentals of Accounting,ONL,16,63,26,...,22,23,10,6,2,1,0,3,0,"Silhan, Peter A"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64022,2010,Summer,2010-su,PSYC,230,Perception & Sensory Processes,LEC,9,8,1,...,1,1,0,2,0,0,0,0,0,"Higgins, James"
64026,2010,Summer,2010-su,SCAN,251,Viking Mythology,LCD,1,4,7,...,3,1,0,0,0,0,0,0,0,"Schwink, Frederick W"
64028,2010,Summer,2010-su,SOC,200,Intro to Sociological Theory,LEC,2,5,4,...,5,0,2,0,0,0,0,0,0,"Barnett, Bernice M"
64045,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
64046,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"

In [9]:
# Using the "or" symbol to get both stats and cs classes
data[(data['Subject'] == 'CS') | (data['Subject'] == "STAT")]

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
712,2022,Spring,2022-sp,CS,101,Intro Computing: Engrg & Sci,OLC,155,340,55,...,16,8,3,6,4,6,0,17,1,"Davis, Neal E"
713,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,12,62,17,...,9,10,16,14,3,4,4,9,2,"Zilles, Craig"
714,2022,Spring,2022-sp,CS,105,Intro Computing: Non-Tech,OLC,28,101,26,...,19,17,19,20,4,9,2,10,3,"Zilles, Craig"
715,2022,Spring,2022-sp,CS,124,Intro to Computer Science I,OLC,70,314,43,...,27,12,9,9,0,18,0,28,4,"Challen, Geoffrey W"
716,2022,Spring,2022-sp,CS,126,Software Design Studio,LCD,47,105,25,...,0,4,1,0,1,3,2,5,0,"Woodley, Michael J"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64040,2010,Summer,2010-su,STAT,100,Statistics,LCD,1,13,3,...,1,1,2,2,3,1,1,1,0,"Hirtz, Nathaniel R"
64041,2010,Summer,2010-su,STAT,100,Statistics,LCD,0,14,3,...,0,0,3,0,0,1,0,3,1,"Dalpiaz, David M"
64042,2010,Summer,2010-su,STAT,400,Statistics and Probability I,LEC,4,15,7,...,4,1,2,2,0,1,0,3,1,"Monrad, Ditlev"
64043,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
64044,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,0,"Unger, David"

In [35]:
# Combining some conditionals! Trying to get all CS courses for juniors (300 level)
data[(data['Subject'] == 'CS') & (data['Number'] >= 300) & (data['Number'] <= 399)]

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
732,2022,Spring,2022-sp,CS,357,Numerical Methods I,OLC,13,142,28,...,14,6,8,1,5,3,4,2,1,"Silva, Mariana T"
733,2022,Spring,2022-sp,CS,357,Numerical Methods I,LCD,10,71,17,...,5,4,1,4,4,8,4,4,1,"Silva, Mariana T"
734,2022,Spring,2022-sp,CS,361,Prob & Stat for Computer Sci,LEC,94,62,29,...,8,16,10,4,1,2,2,4,2,"Liu, Hongye"
735,2022,Spring,2022-sp,CS,374,Intro to Algs & Models of Comp,LEC,24,39,49,...,41,26,31,14,11,9,4,6,2,"Chan, Timothy M"
736,2022,Spring,2022-sp,CS,374,Intro to Algs & Models of Comp,LEC,30,29,37,...,2,3,1,1,1,0,0,4,0,"Kani, Nickvash"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59503,2010,Fall,2010-fa,CS,373,Theory of Computation,LEC,4,13,14,...,15,12,3,5,1,1,0,0,0,"Viswanathan, Mahesh"
59504,2010,Fall,2010-fa,CS,373,Theory of Computation,LEC,4,3,7,...,6,3,3,1,4,0,0,0,0,"Viswanathan, Mahesh"
62160,2010,Spring,2010-sp,CS,357,Numerical Methods I,LCD,2,56,25,...,12,2,5,3,0,1,2,4,0,"Gropp, William D"
62161,2010,Spring,2010-sp,CS,373,Theory of Computation,LEC,8,18,6,...,12,9,14,13,7,4,11,0,1,"Parthasarathy, Madhusudan"
63926,2010,Summer,2010-su,CS,373,Theory of Computation,LEC,5,1,5,...,2,2,0,2,0,2,0,1,1,"Kumar, Viraj"

In [39]:
# Your turn! Try a conditional that chooses a Term and a class

Averages, Standard Deviations, and Medians

In [10]:
#Getting the mean of the amount of As in the CS Freshmen classes
CS_freshmen_classes = data[(data['Subject'] == 'CS') & (data['Number'] >= 100) & (data['Number'] <= 199)]
# Remember CS_freshmen_classes is also a dataframe, but with only the CS freshmen classes, so you can access rows
CS_freshmen_classes['A'].mean()

29.333774834437087

In [11]:
# Getting the mean amount of all grades in the CS classes overall
data[(data['Subject'] == 'CS')][['A+','A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F']].mean()

A+    13.799613
A     32.222168
A-    11.902711
B+     8.822846
B     10.172314
B-     4.890610
C+     3.512585
C      4.282672
C-     1.914811
D+     1.022265
D      1.691675
D-     0.591481
F      2.233785
dtype: float64

In [12]:
# Getting the mediam amount of all grades in the CS classes overall
data[(data['Subject'] == 'CS')][['A+','A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F']].median()

A+     5.0
A     15.0
A-     7.0
B+     5.0
B      6.0
B-     3.0
C+     2.0
C      2.0
C-     1.0
D+     0.0
D      0.0
D-     0.0
F      1.0
dtype: float64

In [14]:
# Getting the standard deviation of the amount of grades in the CS classes overall
data[(data['Subject'] == 'CS')][['A+','A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F']].std()

A+    32.634383
A     52.825882
A-    14.563869
B+    10.380536
B     12.067659
B-     6.896442
C+     5.579718
C      6.403197
C-     3.580889
D+     2.828339
D      3.254544
D-     1.504346
F      3.943062
dtype: float64

In [59]:
# Your turn! Get the standard deviation and mean of "W"s (students that withdraw after the drop deadline) of another subject than CS

# Sorting

You can sort the dataframe by a column's values

In [15]:
# Sort by the amount of As
data.sort_values("A")

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
49187,2012,Fall,2012-fa,HIST,141,Western Civ to 1660,DIS,0,0,4,...,7,0,3,2,0,2,0,0,0,"Murphy, Evan R"
50364,2012,Spring,2012-sp,CS,173,Discrete Structures,DIS,1,0,8,...,8,4,0,1,0,0,1,0,0,"Pittman, Lance C"
34586,2015,Fall,2015-fa,MCB,150,Molec & Cellular Basis of Life,DIS,1,0,2,...,2,5,3,0,2,0,1,0,0,"Reedy, Melissa M"
17104,2019,Spring,2019-sp,SOCW,451,HBSE I: Human Development,ONL,11,0,7,...,0,0,0,0,1,1,0,0,0,"Andrade, Flavia C"
24493,2017,Fall,2017-fa,MCB,245,Human Anat & Physiol Lab I,NaN,1,0,2,...,1,5,2,2,2,0,1,1,0,"Swigart, James P"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11737,2020,Spring,2020-sp,RST,242,Nature and American Culture,ONL,0,743,0,...,0,0,23,0,0,5,0,27,0,"Farr, Jeffrey R"
717,2022,Spring,2022-sp,CS,128,Intro to Computer Science II,OLC,0,763,71,...,25,15,14,10,4,6,4,32,10,"Nowak, Michael"
8530,2020,Fall,2020-fa,ECON,528,Microeconomics for Business,ONL,65,814,132,...,17,5,4,4,0,0,1,9,0,"DeBrock, Lawrence M"
3296,2021,Fall,2021-fa,CS,124,Intro to Computer Science I,OLC,128,833,71,...,18,17,16,8,0,19,0,37,12,"Challen, Geoffrey W"
6744,2021,Spring,2021-sp,MBA,551,Strategic Innovation,ONL,0,1034,121,...,9,6,6,1,0,1,0,8,0,"Love, E G"

Here is a descending version

In [16]:
# Sort by the amount of As
data.sort_values("A", ascending=False)

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
6744,2021,Spring,2021-sp,MBA,551,Strategic Innovation,ONL,0,1034,121,...,9,6,6,1,0,1,0,8,0,"Love, E G"
3296,2021,Fall,2021-fa,CS,124,Intro to Computer Science I,OLC,128,833,71,...,18,17,16,8,0,19,0,37,12,"Challen, Geoffrey W"
8530,2020,Fall,2020-fa,ECON,528,Microeconomics for Business,ONL,65,814,132,...,17,5,4,4,0,0,1,9,0,"DeBrock, Lawrence M"
717,2022,Spring,2022-sp,CS,128,Intro to Computer Science II,OLC,0,763,71,...,25,15,14,10,4,6,4,32,10,"Nowak, Michael"
11737,2020,Spring,2020-sp,RST,242,Nature and American Culture,ONL,0,743,0,...,0,0,23,0,0,5,0,27,0,"Farr, Jeffrey R"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24834,2017,Fall,2017-fa,RHET,233,Adv Rhetoric & Composition,NaN,1,0,9,...,0,1,0,0,0,0,0,1,0,"Sellers, Edward J"
59328,2010,Fall,2010-fa,CMN,101,Public Speaking,LCD,0,0,3,...,3,0,4,2,0,0,0,1,0,"Roberts, Jasmine R"
37732,2015,Summer,2015-su,SOC,583,Qualitative Research Methods,LEC,18,0,0,...,0,0,0,0,0,0,0,0,0,"Zerai, Assata"
37745,2015,Summer,2015-su,SPAN,103,Intermediate Spanish,LCD,0,0,0,...,2,4,4,0,0,0,4,6,0,"Lugo, Monica E"
53466,2011,Spring,2011-sp,ACCY,302,Decision Making for Atg,LCD,0,0,6,...,3,0,2,3,0,0,0,0,0,"Autrey, Romana L"

In [75]:
# Your turn! Sort the CS classes by the amount of Bs

# Group By
Groupby is a more difficult concept (but not that difficult!), but essentially it groups all the data in the dataset by a column and then apply some sort of function you choose (like the median, average, the count, etc). It makes it easier to focus our analysis on a certain aspect of our data. This function also returns a dataframe, so you can use all the dataframe methods on it (like mean, std, sort)

In [63]:
# Here is an example of a group by, I want to group by Subjects and then apply a count function (count how many rows there were)
groupby_subject_count = data.groupby("Subject").agg("count").reset_index()
# At the end of each groupby, you must but a .reset_index() or the dataframe will looked unorganized
groupby_subject_count

,Subject,Year,Term,YearTerm,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,AAS,227,227,227,227,227,196,227,227,227,...,227,227,227,227,227,227,227,227,227,227
1,ABE,155,155,155,155,155,127,155,155,155,...,155,155,155,155,155,155,155,155,155,154
2,ACCY,2648,2648,2648,2648,2648,2203,2648,2648,2648,...,2648,2648,2648,2648,2648,2648,2648,2648,2648,2629
3,ACE,1049,1049,1049,1049,1049,900,1049,1049,1049,...,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049
4,ACES,170,170,170,170,170,143,170,170,170,...,170,170,170,170,170,170,170,170,170,170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,UP,335,335,335,335,335,281,335,335,335,...,335,335,335,335,335,335,335,335,335,335
166,VB,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
167,VCM,40,40,40,40,40,35,40,40,40,...,40,40,40,40,40,40,40,40,40,40
168,VM,114,114,114,114,114,94,114,114,114,...,114,114,114,114,114,114,114,114,114,114
169,YDSH,14,14,14,14,14,11,14,14,14,...,14,14,14,14,14,14,14,14,14,14

So what did this do? It basically took every single course of the same type, counted how many rows there were, and replaced the number in the datasets with them. So for example, it took every single CS course offered at UIUC, counted how many there were, and placed that number in dataframe. Note that the subject row is now replaced with each unique course, so there is only one row that represents the CS category

In [66]:
# Here is the CS row, basically means that there is 2066 classes/sections in CS
groupby_subject_count[groupby_subject_count['Subject'] == 'CS']

,Subject,Year,Term,YearTerm,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
50,CS,2066,2066,2066,2066,2066,1748,2066,2066,2066,...,2066,2066,2066,2066,2066,2066,2066,2066,2066,2063

Here is a more intuitive example, what if I wanted to find the mean of all letter grades in each section using groupby?

In [67]:
groupby_subject_mean = data.groupby("Subject").agg("mean").reset_index()
groupby_subject_mean

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,AAS,2015.955947,127.176211,4.409692,11.594714,4.339207,2.748899,2.788546,1.264317,0.731278,0.762115,0.299559,0.167401,0.185022,0.096916,0.493392,0.110132
1,ABE,2015.735484,335.593548,3.070968,18.967742,5.619355,5.135484,6.400000,1.696774,0.948387,1.245161,0.322581,0.109677,0.316129,0.051613,0.438710,0.109677
2,ACCY,2015.869335,374.324773,4.231495,11.918807,7.520015,6.878776,6.461480,2.689199,1.345544,1.070997,0.527568,0.152568,0.304003,0.094033,0.285498,0.119335
3,ACE,2015.819828,279.829361,5.685415,16.582459,5.847474,4.876072,8.045758,2.945663,1.894185,2.739752,0.903718,0.429933,0.784557,0.252622,0.864633,0.122021
4,ACES,2015.582353,116.217647,7.294118,11.858824,1.870588,0.941176,1.835294,0.476471,0.488235,0.576471,0.211765,0.135294,0.182353,0.094118,0.523529,0.052941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,UP,2015.641791,357.919403,3.982090,12.949254,6.949254,4.155224,4.426866,1.647761,0.862687,0.967164,0.444776,0.140299,0.286567,0.182090,0.635821,0.125373
166,VB,2010.000000,622.250000,0.000000,53.000000,1.500000,1.500000,30.000000,0.250000,0.000000,10.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000
167,VCM,2012.775000,651.675000,9.500000,34.400000,0.725000,1.250000,26.000000,0.500000,0.475000,8.425000,0.025000,0.025000,1.025000,0.000000,0.050000,0.000000
168,VM,2016.166667,609.377193,0.000000,20.929825,0.070175,0.000000,62.122807,0.008772,0.000000,36.877193,0.000000,0.000000,3.929825,0.000000,0.131579,0.087719
169,YDSH,2014.000000,277.142857,4.000000,8.142857,6.214286,2.642857,3.142857,1.142857,0.714286,0.500000,0.357143,0.071429,0.142857,0.142857,0.714286,0.214286

Now we have different data in each column

In [68]:
# Once again, I will find the CS category
groupby_subject_mean[groupby_subject_mean['Subject'] == 'CS']

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
50,CS,2015.616651,316.499516,13.799613,32.222168,11.902711,8.822846,10.172314,4.89061,3.512585,4.282672,1.914811,1.022265,1.691675,0.591481,2.233785,0.491772

Here is an explanation of these values. For the column "A+", it is showing the average number of A+s in CS classes at UIUC, the same goes for all the other letter grades. Some of this data is "useless" or "meaningless". For example, there is not much use for the average year of the class.

In [71]:
# Another example, this time by professor. get the mean of the grades by professors
professor_mean = data.groupby("Primary Instructor").agg("mean").reset_index()
professor_mean

,Primary Instructor,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,"Aadland, Matthew A",2012.250000,101.000000,1.000000,2.750000,9.000000,3.5,2.750000,1.750000,1.250000,1.250000,0.250000,0.25,0.250000,0.000000,1.750000,0.000000
1,"Abbamonte, Peter M",2016.625000,429.312500,3.875000,13.500000,4.437500,2.5,11.875000,2.875000,0.375000,5.812500,0.687500,0.00,1.375000,0.000000,0.062500,0.250000
2,"Abbas, Ali E",2012.000000,420.000000,2.600000,28.400000,17.200000,9.4,10.800000,5.800000,0.600000,0.400000,0.400000,0.00,0.400000,0.000000,0.000000,0.000000
3,"Abbott, Annie R",2017.285714,270.714286,11.571429,8.714286,3.142857,1.0,1.428571,0.857143,0.000000,0.285714,0.571429,0.00,0.142857,0.000000,0.428571,0.000000
4,"Abboud, Nicholas K",2022.000000,213.500000,7.000000,5.500000,1.000000,2.5,2.000000,2.000000,1.000000,1.000000,2.000000,1.50,0.500000,0.500000,0.500000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8861,"van Doren, Alexandra B",2015.000000,207.000000,1.000000,19.666667,0.000000,0.0,0.666667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.333333,0.333333,0.333333
8862,"van der Donk, Wilfred A",2016.090909,424.727273,1.727273,9.272727,5.272727,6.0,10.454545,2.454545,1.818182,3.545455,1.000000,0.00,0.090909,0.000000,0.272727,0.181818
8863,"van der Veen, Renske",2018.200000,442.000000,2.200000,5.400000,8.400000,7.6,6.200000,6.400000,2.400000,2.400000,2.200000,1.00,0.600000,1.000000,1.400000,0.400000
8864,"van der Velde, Adrian T",2021.000000,252.750000,5.750000,5.750000,4.000000,1.0,3.250000,1.000000,1.500000,0.250000,0.500000,0.00,0.750000,0.000000,1.250000,0.000000
8865,"van der Zande, Arend",2017.400000,370.000000,3.000000,13.000000,10.800000,7.4,6.600000,2.600000,1.800000,0.800000,0.200000,0.40,0.000000,0.000000,0.400000,0.200000

In [77]:
# Sorting these by A+s, we can see which professor gave the most A+s!
professor_mean.sort_values("A+", ascending=False)

,Primary Instructor,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
4092,"Kinnett-Hopkins, Dominiqu",2016.500000,122.000000,350.500000,83.500000,110.000000,44.000000,30.500000,17.000000,8.500000,5.000000,6.000000,3.000000,1.000000,0.500000,19.000000,1.500000
1735,"Davis, Neal E",2019.000000,108.538462,209.307692,195.230769,53.230769,33.769231,27.615385,14.307692,10.461538,9.307692,6.153846,3.769231,5.000000,3.384615,11.384615,0.846154
3108,"Hartman, Kevin E",2019.130435,571.391304,206.260870,54.782609,7.739130,5.565217,2.782609,0.956522,0.565217,0.304348,0.173913,0.173913,0.043478,0.043478,2.217391,0.304348
3955,"Kersh, Renique",2017.352941,236.058824,197.441176,82.411765,29.382353,16.970588,13.235294,8.852941,6.147059,5.323529,3.352941,2.323529,1.735294,1.205882,6.264706,0.470588
3128,"Haugen, Matthew B",2019.538462,259.076923,188.769231,96.461538,34.076923,18.000000,13.846154,7.307692,5.230769,3.461538,2.153846,1.461538,1.307692,1.000000,7.692308,0.538462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5409,"Mitchell, Rebecca A",2010.000000,141.000000,0.000000,1.500000,4.000000,5.500000,5.500000,5.000000,0.500000,0.500000,0.000000,1.000000,0.000000,0.500000,0.000000,0.000000
3068,"Harper, Aaron M",2010.250000,102.000000,0.000000,2.750000,5.250000,7.750000,10.000000,4.000000,3.000000,0.750000,0.250000,0.250000,0.000000,0.250000,1.000000,0.500000
7300,"Snick, Ashley M",2011.000000,101.000000,0.000000,4.000000,7.500000,3.000000,5.500000,1.500000,1.000000,0.000000,0.000000,0.000000,0.500000,0.000000,2.500000,0.000000
3067,"Harnden, Kevin A",2014.000000,103.000000,0.000000,54.666667,8.000000,3.000000,7.333333,1.333333,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.333333,0.333333
4140,"Koelkebeck, Kenneth W",2011.333333,363.000000,0.000000,59.333333,0.000000,0.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

We can also use .max() and .min()

In [80]:
professor_mean['A+'].max()

350.5

In [81]:
professor_mean['A+'].min()

0.0

In addition to "mean" and "count", there is "median" and "std"

In [72]:
# your turn! Be creative and find some data!

In [5]:
data.head()

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,LCD,6,13,0,...,1,0,3,0,1,1,0,0,0,"Lee, Sang S"
1,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,11,5,...,2,1,0,1,1,0,0,0,0,"Zheng, Reanne"
2,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,0,10,7,...,1,0,0,0,0,0,0,2,0,"Zheng, Reanne"
3,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,DIS,17,8,1,...,0,0,0,0,0,0,0,0,0,"Rosado-Torres, Alexander"
4,2022,Spring,2022-sp,AAS,100,Intro Asian American Studies,OD,0,8,4,...,2,1,0,0,0,0,1,3,1,"Wang, Yu"

In [7]:
course_data = data.groupby("Course Title").agg("sum").reset_index()

In [ ]:
course_data['A+'] * 4.0 + course_data['A'] * 4.0 + course_data['A-'] * 3.67 + ... course_data['F'] * 0
course_data['Average gpa'] =